.main {
    background-color: aliceblue;
}

.sidebar{
    background-color: bisque;
}

.toplinks {
	text-align:right;
}
.sidebar ul {
	list-style-type: none;
}
.sidebar ul li {
	margin-top:50px;
}
.minibar-left {
	float:left;
}

.minibar-right {
	float:right;
	width: 300px;
	
	padding: 15px 0px;
	text-align: center;
}

.name-list {
	padding-top: 20px;
	border: solid 1px gray;
	margin:5px;
}
